#settingsContainerContent{
  display: block;
}

#filesContent{
  display: none;
  width: 100%;
}

#stylesContent{
  display: none;
  width: 100%;
  height: 100%;
}

.divSettingsImage{
  cursor:pointer;
  display: inline-block;
  border:1px solid rgba(159, 159, 159, .5);
  border-radius:10px;
  width:100px;
  height:100px;
  position:absolute;
  top: 180px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0.0);
}

.leftImageSettings{
  left: 62.5px;
}

.centerImageSettings{
  left: 225px;
}

.rightImageSettings{
  left: 387.5px;
}

.divSettingsImage:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.divSettingsCollapseImage{
  cursor:pointer;
  display: inline-block;
  border:1px solid rgba(159, 159, 159, .5);
  border-radius:10px;
  width:100px;
  height:100px;
  position:relative;
  margin-left: 11%;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0.0);
}

.divSettingsCollapseImage:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.imageSettingsType{
  position: absolute;
  cursor:pointer;
  width:50px;
  height:50px;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
}

.textSettingsType{
  text-align: center;
}

.divCollapse{
  position: relative;
  width: 100%;
  top: 190px;
}
