.imageSlider {
  position: relative;
  overflow: hidden;
  margin: 5px auto 0 auto;
  border-radius: 4px;
  height: 250px;
}


.sliderButtonSpan{
  position: relative;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-previous, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
    color: black;
    border-radius: 20px;
    border: 1px solid white;
    padding: 3px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
